.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 100%;
}

.barcode {
    white-space: pre;
}

.page-header {
    margin-top: 20px;
}

.progress-striped {
    margin-top: 100px;
}
