.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 300px
}
/*.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}*/

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}

select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
}

.barcode{
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}

.page-header {
    margin-top: 20px;
}